@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(juliette-g-bmBLu_oAEj8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fcontainer .fitem-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid green;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 93px;
}

.fcontainer .fitem-1 img{
    height: 50px;
    width: 120px;
}

.fcontainer .fitem-2{
    height: 420px;
    width: 350px;
    background-color: white;
    margin-top: 142px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background:radial-gradient(40px at bottom,green 98%,white) 50% / 74.00px 100%;
    padding: 5px;
}
.fcontainer .fitem-2 .p1{
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
}

.fcontainer .fitem-2 h4{
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
}

.fcontainer .fitem-2 .p2{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.fcontainer .fitem-2 .p3,.p4,.p5{
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    color: rgb(57, 56, 56);
}

@media only screen and (max-width: 1024px) {
    body{
        background-size: 1250px;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-size: 1250px;
        background-position: center;
        
    }
        .fcontainer .fitem-1{
            height: 100px;
            width: 100px;
        }

        .fcontainer .fitem-1 img{
            height: 55px;
            width: 100px;
        }

        .fcontainer .fitem-2{
            width : 300px;
            margin-top: 130px;
            padding: 10px;
        }
    }
